<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of this.countries(); track country.cca2; let index = $index)
      {

      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img class="w-10" [src]="country.flagSvg" [alt]="country.name" />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>
          <span class="badge badge-secondary">{{
            country.population | number
          }}</span>
        </td>
        <td>
          <a
            class="link-primary cursor-pointer"
            [routerLink]="['/country/by', country.cca2]"
            >Màs Informaciòn</a
          >
        </td>
      </tr>
      } @if(errorMessage()){
      <tr>
        <td colspan="8" class="text-center">
          {{ errorMessage() }}
        </td>
      </tr>
      }
      <!--  -->
      @if(countries().length === 0 && !isLoading() ){
      <tr>
        <td colspan="8" class="text-center">No found result</td>
      </tr>
      }
      <!--  -->
      @if(isLoading()){
      <tr>
        <td colspan="8" class="text-center">Loading</td>
      </tr>
      }
    </tbody>
  </table>
</section>
